*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-primary: #191d2b;
    --clr-accent: #40826d;
    --clr-light: #fafafa;
    --clr-dark: #333;

    --clr-grey-0: #f8f8f8;
    --clr-grey-1: #dbe1e8;
    --clr-grey-2: #b2becd;
    --clr-grey-3: #6c7983;
    --clr-grey-4: #454e56;
    --clr-grey-5: #2a2e35;
    --clr-grey-6: #12181b;

    --padding: 2rem;
    --radius: 0.25rem;
    --max-width: 75rem;
    --transition: all 0.5s ease-in-out;

    --shadow-light: 0 0 15px rgba(0, 0, 0, 0.1);
    --shadow-dark: 0 0 15px rgba(0, 0, 0, 0.25);
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--clr-light);
    background-color: var(--clr-dark);
    min-height: 100vh;
    overflow: hidden;
    display: grid;
    place-items: center;
}

.section {
    width: 60rem;
    margin-inline: auto;
}

.title h2 {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
}

.title .underline {
    width: 10em;
    height: 3px;
    background-color: var(--clr-accent);
    margin-bottom: 3em;
    margin-inline: auto;
}

.section .jobs-center {
    display: flex;
    gap: 3em;
}

.section .jobs-center .btn-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    min-width: 200px;
}

.section .jobs-center .btn-container .job-btn {
    font-family: inherit;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.25rem;
    border: none;
    color: var(--clr-light);
    background-color: transparent;
    position: relative;
    transition: var(--transition);
}

.section .jobs-center .btn-container .job-btn.active-btn {
    color: var(--clr-accent);
    border-left: 3px solid var(--clr-accent);
    border-right: 3px solid var(--clr-accent);
}

.section .jobs-center .btn-container .job-btn::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: var(--clr-accent);
    transition: var(--transition);
}

.section .jobs-center .btn-container .job-btn:hover::before {
    opacity: 1;
    width: 100%;
}

.section .jobs-center .job-info {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.section .jobs-center .job-info h3 {
    font-size: 1.625rem;
    font-weight: 500;
    letter-spacing: 2px;
}

.section .jobs-center .job-info h4 {
    display: inline-block;
    font-size: 1.125rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0.375em 0.75em;
    width: max-content;
    color: var(--clr-accent);
    background-color: rgba(64, 130, 109, 0.15);
    border-radius: 0.5em;
}

.section .jobs-center .job-info .job-desc {
    display: flex;
    align-items: center;
}

.section .jobs-center .job-info .job-icon {
    flex-shrink: 0;
    color: var(--clr-accent);
    margin-right: 1rem;
}

.section .jobs-center .job-info .job-desc p {
    font-size: 0.875rem;
}

.section .btn {
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    color: var(--clr-light);
    background-color: transparent;
    padding: 0.5em 1.5em;
    border: 2px solid var(--clr-accent);
    border-radius: 0.5em;
    margin-inline: auto;
    margin-top: 2em;
    transition: var(--transition);
}

.section .btn:hover {
    background-color: var(--clr-accent);
}
