*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-primary: #191d2b;
    --clr-accent: #40826d;
    --clr-light: #fafafa;
    --clr-dark: #333;

    --clr-grey-0: #f8f8f8;
    --clr-grey-1: #dbe1e8;
    --clr-grey-2: #b2becd;
    --clr-grey-3: #6c7983;
    --clr-grey-4: #454e56;
    --clr-grey-5: #2a2e35;
    --clr-grey-6: #12181b;

    --padding: 2rem;
    --radius: 0.25rem;
    --max-width: 75rem;
    --transition: all 0.5s ease-in-out;

    --shadow-light: 0 0 15px rgba(0, 0, 0, 0.1);
    --shadow-dark: 0 0 15px rgba(0, 0, 0, 0.25);
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--clr-light);
    background-color: var(--clr-dark);
    min-height: 100vh;
    overflow: hidden;
    display: grid;
    place-items: center;
}

.section {
    width: 60rem;
    margin-inline: auto;
}

.title h2 {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
}

.title .underline {
    width: 10em;
    height: 3px;
    background-color: var(--clr-accent);
    margin-bottom: 3em;
    margin-inline: auto;
}

.section .jobs-center {
    display: flex;
    gap: 3em;
}

.section .jobs-center .btn-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1em;
    min-width: 200px;
}

.section .jobs-center .btn-container .job-btn {
    font-family: inherit;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.25rem;
    border: none;
    color: var(--clr-light);
    background-color: transparent;
    transition: var(--transition);
}

.section .jobs-center .btn-container .job-btn.active-btn {
    color: var(--clr-accent);
    border-left: 3px solid var(--clr-accent);
}

.section .jobs-center .btn-container .section .jobs-center .job-info {
    flex: 4;
}
